# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: SylviaOne
          template: classic
          base: header, activity, community, repositories, metadata
          base_hireable: yes
          base_indepth: yes
          config_octicon: yes
          config_timezone: Asia/Jakarta
          plugin_achievements: yes
          plugin_achievements_only: >-
            polyglot, stargazer, sponsor, deployer, member, maintainer, developer,
            scripter, packager, explorer, infographile, manager
          plugin_achievements_display: compact
          plugin_achievements_threshold: X
          plugin_skyline: yes
          plugin_skyline_year: 2020
          plugin_skyline_frames: 6
          plugin_skyline_quality: 1
          plugin_skyline_settings: |
            {
              "url": "https://honzaap.github.io/GithubCity?name=${login}&year=${year}",
              "ready": "[...document.querySelectorAll('.display-info span')].map(span => span.innerText).includes('${login}')",
              "wait": 4,
              "hide": ".github-corner, .footer-link, .buttons-options, .mobile-rotate, .display-info span:first-child"
            }
          plugin_code: yes
          plugin_code_days: 7
          plugin_code_lines: 8
          plugin_code_load: 200
          plugin_code_visibility: public
          plugin_traffic: yes
          plugin_gists: yes
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes
          plugin_discussions: yes
          plugin_discussions_categories: yes
          plugin_followup: yes
          plugin_followup_indepth: yes
          plugin_followup_sections: repositories
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 15
          plugin_languages_categories: programming
          plugin_languages_colors: rainbow
          plugin_languages_indepth: no
          plugin_languages_limit: 8
          plugin_languages_other: yes
          plugin_languages_recent_categories: programming
          plugin_languages_recent_days: 7
          plugin_languages_recent_load: 400
          plugin_languages_sections: recently-used
          plugin_languages_threshold: 0%
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 6
          plugin_lines_sections: base
          plugin_music_mode: recent
          plugin_music_token: ${{ secrets.LASTFM_TOKEN }}
          plugin_music_limit: 2
          plugin_music: yes
          plugin_music_provider: lastfm
          plugin_music_user: coudleRose
          plugin_people: yes
          plugin_people_identicons: yes
          plugin_fortune: yes
          plugin_people_limit: 0
          plugin_people_shuffle: yes
          plugin_people_size: 22
          plugin_people_types: followers, following
          plugin_tweets: yes
          plugin_tweets_token: ${{ secrets.TWITTER_TOKEN }}
          plugin_tweets_attachments: yes
          plugin_tweets_user: Sylvia0ne
          plugin_tweets_limit: 1          
